<div>
  <div class="mt-auto py-2" style="height: 60px;"></div>
  <footer class="footer py-2 bg-dark align-items-end fixed-bottom">    
    <div class="container text-center">
      <span class="text-white">© 2023-{{ currentYear }}</span>
    </div>
  </footer>
</div>